<div class="nav-header">
            <a href="/" class="brand-logo">
				<img class="logo-abbr" width="40" height="40" viewBox="0 0 39 23" fill="none" src="/images/logo.png">
					</img>
				<img class="brand-title" width="80" height="30" viewBox="0 0 47 16" fill="none" src="/images/logo-letra.png">
				</img>
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span>
					<span class="line"></span>
					<span class="line"></span>
                </div>
            </div>
        </div>