<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:image" content="https://w3crm.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
	<title>Pets</title>
	
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/logo.png">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
	<!-- Datatable -->
    <link href="./vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="./vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
	<!-- Toastr -->
    <link rel="stylesheet" href="./vendor/toastr/css/toastr.min.css">
    <!-- Custom Stylesheet -->
	<link href="./vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
	<!-- Daterange picker -->
    <link href="./vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Clockpicker -->
    <link href="./vendor/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <!-- asColorpicker -->
    <link href="./vendor/jquery-asColorPicker/css/asColorPicker.min.css" rel="stylesheet">
    <!-- Material color picker -->
    <link href="./vendor/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
	
    <!-- Pick date -->
    <link rel="stylesheet" href="./vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="./vendor/pickadate/themes/default.date.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom Stylesheet -->
	<link href="./vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
  <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
		{{>logo}}
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		<div class="chatbox">
			<div class="chatbox-close"></div>
			<div class="custom-tab-1">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="#notes">Notes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="#alerts">Alerts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" data-bs-toggle="tab" href="#chat">Chat</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active show" id="chat">
						<div class="card mb-sm-3 mb-md-0 contacts_card dz-chat-user-box">
							<div class="card-header chat-list-header text-center">
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/><rect fill="#000000" opacity="1.0" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/></g></svg></a>
								<div>
									<h6 class="mb-1">Chat List</h6>
									<p class="mb-0">Show All</p>
								</div>
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg></a>
							</div>
							<div class="card-body contacts_body p-0 dz-scroll  " id="DZ_W_Contacts_Body">
								<ul class="contacts">
									<li class="name-first-letter">A</li>
									<li class="active dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/1.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Archie Parker</span>
												<p>Kalid is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/2.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Alfie Mason</span>
												<p>Taherah left 7 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/3.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>AharlieKane</span>
												<p>Sami is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/4.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Athan Jacoby</span>
												<p>Nargis left 30 mins ago</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">B</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/5.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Bashid Samim</span>
												<p>Rashid left 50 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz- -user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/1.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Breddie Ronan</span>
												<p>Kalid is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/2.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Ceorge Carson</span>
												<p>Taherah left 7 mins ago</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">D</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/3.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Darry Parker</span>
												<p>Sami is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/4.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Denry Hunter</span>
												<p>Nargis left 30 mins ago</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">J</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/5.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Jack Ronan</span>
												<p>Rashid left 50 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/1.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Jacob Tucker</span>
												<p>Kalid is online</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/2.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>James Logan</span>
												<p>Taherah left 7 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/3.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon"></span>
											</div>
											<div class="user_info">
												<span>Joshua Weston</span>
												<p>Sami is online</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">O</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/4.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Oliver Acker</span>
												<p>Nargis left 30 mins ago</p>
											</div>
										</div>
									</li>
									<li class="dz-chat-user">
										<div class="d-flex bd-highlight">
											<div class="img_cont">
												<img src="images/avatar/5.jpg" class="rounded-circle user_img" alt="">
												<span class="online_icon offline"></span>
											</div>
											<div class="user_info">
												<span>Oscar Weston</span>
												<p>Rashid left 50 mins ago</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="card chat dz-chat-history-box d-none">
							<div class="card-header chat-list-header text-center">
								<a href="javascript:void(0);" class="dz-chat-history-back">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon points="0 0 24 0 24 24 0 24"/><rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000) " x="14" y="7" width="2" height="10" rx="1"/><path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997) "/></g></svg>
								</a>
								<div>
									<h6 class="mb-1">Chat with Khelesh</h6>
									<p class="mb-0 text-success">Online</p>
								</div>							
								<div class="dropdown">
									<a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg></a>
									<ul class="dropdown-menu dropdown-menu-end">
										<li class="dropdown-item"><i class="fa fa-user-circle text-primary me-2"></i> View profile</li>
										<li class="dropdown-item"><i class="fa fa-users text-primary me-2"></i> Add to btn-close friends</li>
										<li class="dropdown-item"><i class="fa fa-plus text-primary me-2"></i> Add to group</li>
										<li class="dropdown-item"><i class="fa fa-ban text-primary me-2"></i> Block</li>
									</ul>
								</div>
							</div>
							<div class="card-body msg_card_body dz-scroll" id="DZ_W_Contacts_Body3">
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
									<div class="msg_cotainer">
										Hi, how are you samim?
										<span class="msg_time">8:40 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										Hi Khalid i am good tnx how about you?
										<span class="msg_time_send">8:55 AM, Today</span>
									</div>
									<div class="img_cont_msg">
								<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
									<div class="msg_cotainer">
										I am good too, thank you for your chat template
										<span class="msg_time">9:00 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										You are welcome
										<span class="msg_time_send">9:05 AM, Today</span>
									</div>
									<div class="img_cont_msg">
								<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
									<div class="msg_cotainer">
										I am looking for your next templates
										<span class="msg_time">9:07 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										Ok, thank you have a good day
										<span class="msg_time_send">9:10 AM, Today</span>
									</div>
									<div class="img_cont_msg">
										<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
									<div class="msg_cotainer">
										Bye, see you
										<span class="msg_time">9:12 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
									<div class="msg_cotainer">
										Hi, how are you samim?
										<span class="msg_time">8:40 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										Hi Khalid i am good tnx how about you?
										<span class="msg_time_send">8:55 AM, Today</span>
									</div>
									<div class="img_cont_msg">
								<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
									<div class="msg_cotainer">
										I am good too, thank you for your chat template
										<span class="msg_time">9:00 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										You are welcome
										<span class="msg_time_send">9:05 AM, Today</span>
									</div>
									<div class="img_cont_msg">
								<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
									<div class="msg_cotainer">
										I am looking for your next templates
										<span class="msg_time">9:07 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										Ok, thank you have a good day
										<span class="msg_time_send">9:10 AM, Today</span>
									</div>
									<div class="img_cont_msg">
										<img src="images/avatar/2.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
								</div>
								<div class="d-flex justify-content-start mb-4">
									<div class="img_cont_msg">
										<img src="images/avatar/1.jpg" class="rounded-circle user_img_msg" alt="">
									</div>
									<div class="msg_cotainer">
										Bye, see you
										<span class="msg_time">9:12 AM, Today</span>
									</div>
								</div>
							</div>
							<div class="card-footer type_msg">
								<div class="input-group">
									<textarea class="form-control" placeholder="Type your message..."></textarea>
									<div class="input-group-append">
										<button type="button" class="btn btn-primary"><i class="fa fa-location-arrow"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="alerts">
						<div class="card mb-sm-3 mb-md-0 contacts_card">
							<div class="card-header chat-list-header text-center">
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg></a>
								<div>
									<h6 class="mb-1">Notications</h6>
									<p class="mb-0">Show All</p>
								</div>
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="1"/><path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"/></g></svg></a>
							</div>
							<div class="card-body contacts_body p-0 dz-scroll" id="DZ_W_Contacts_Body1">
								<ul class="contacts">
									<li class="name-first-letter">SEVER STATUS</li>
									<li class="active">
										<div class="d-flex bd-highlight">
											<div class="img_cont primary">KK</div>
											<div class="user_info">
												<span>David Nester Birthday</span>
												<p class="text-primary">Today</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">SOCIAL</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="img_cont success">RU</div>
											<div class="user_info">
												<span>Perfection Simplified</span>
												<p>Jame Smith commented on your status</p>
											</div>
										</div>
									</li>
									<li class="name-first-letter">SEVER STATUS</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="img_cont primary">AU</div>
											<div class="user_info">
												<span>AharlieKane</span>
												<p>Sami is online</p>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="img_cont info">MO</div>
											<div class="user_info">
												<span>Athan Jacoby</span>
												<p>Nargis left 30 mins ago</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="card-footer"></div>
						</div>
					</div>
					<div class="tab-pane fade" id="notes">
						<div class="card mb-sm-3 mb-md-0 note_card">
							<div class="card-header chat-list-header text-center">
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/><rect fill="#000000" opacity="1.0" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/></g></svg></a>
								<div>
									<h6 class="mb-1">Notes</h6>
									<p class="mb-0">Add New Nots</p>
								</div>
								<a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="1"/><path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"/></g></svg></a>
							</div>
							<div class="card-body contacts_body p-0 dz-scroll" id="DZ_W_Contacts_Body2">
								<ul class="contacts">
									<li class="active">
										<div class="d-flex bd-highlight">
											<div class="user_info">
												<span>New order placed..</span>
												<p>10 Aug 2020</p>
											</div>
											<div class="ms-auto">
												<a href="javascript:void(0);" class="btn btn-primary btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger btn-xs sharp"><i class="fa fa-trash"></i></a>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="user_info">
												<span>Youtube, a video-sharing website..</span>
												<p>10 Aug 2020</p>
											</div>
											<div class="ms-auto">
												<a href="javascript:void(0);" class="btn btn-primary btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger btn-xs sharp"><i class="fa fa-trash"></i></a>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="user_info">
												<span>john just buy your product..</span>
												<p>10 Aug 2020</p>
											</div>
											<div class="ms-auto">
												<a href="javascript:void(0);" class="btn btn-primary btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger btn-xs sharp"><i class="fa fa-trash"></i></a>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex bd-highlight">
											<div class="user_info">
												<span>Athan Jacoby</span>
												<p>10 Aug 2020</p>
											</div>
											<div class="ms-auto">
												<a href="javascript:void(0);" class="btn btn-primary btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
												<a href="javascript:void(0);" class="btn btn-danger btn-xs sharp"><i class="fa fa-trash"></i></a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--**********************************
            Chat box End
        ***********************************-->


		
		
        <!--**********************************
            Header start
        ***********************************-->
       <div class="header">
            {{>header}}
		</div>
                    
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       <div class="deznav">
            {{>'menu'}}
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
			<div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item "><a href="javascript:void(0)"><p>Pets</p></a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Registro de Mascotas</a></li>
					</ol>
                </div>
            <!-- container starts -->
            <div class="container-fluid">
				
                <!-- row -->
				<div class="element-area">
					<div class="demo-view">
						<div class="container-fluid pt-0 ps-0 pe-lg-4 pe-0">
						<!-- Column ends -->
						<!-- Column starts -->
						<h2>
							Registro de Mascotas
						</h2>
						<div class="col-xl-12">
							<div class="card dz-card" id="accordion-three">
								<div class="card-header flex-wrap d-flex justify-content-between">
									<div>
										<h4 class="card-title">Alta de mascotas</h4>
									</div>
									<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#successModal">Nueva</button>
									<div class="modal fade" id="successModal">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header greenColor">
                                                    <h5 class="modal-title">Alta de mascotas</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
													<div class="div-half-container">
														<div class="div-75 div-half-padding-right">
															<label>Nombre:</label><br>
															<input type="text" class="form-control input-default " placeholder="Digite su nombre">
															</div>
														<div class="div-25 div-half-padding-left">
															<label>Especie:</label>
															<select class="default-select form-control wide form-control-sm">
																<option>Perro</option>
																<option>Gato</option>
																<option>Conejo</option>
																<option>Pájaro</option>
																<option>Pez</option>
															</select>
														</div>
													</div>
													<div class="div-half-container">
														<div class="div-33 div-half-padding-right">
															<br>
															<label>Genero:</label>
															<select class="default-select form-control wide form-control-sm">
																<option>Macho</option>
																<option>Hembra</option>
															</select>
														</div>
														<div class="div-50 div-half-padding-both">
															<div class="card-body">
																<label>Fecha de nacimiento:</label>
																<input name="datepicker" class="datepicker-default form-control" id="datepicker">
															</div>
														</div>
														<div class="div-33 div-half-padding-left">
															<br>
															<div class="example">
																<label>Color:</label>
                                            					<input type="text" class="as_colorpicker form-control" value="#09C241">
                                        					</div>
														</div>
													</div>
														<div class="basic-form">
															<label>Comentarios:</label>
															<form>
																<div class="mb-3">
																	<textarea placeholder="Observaciones" class="form-txtarea form-control" rows="3" id="comment"></textarea>
																</div>
															</form>
														</div>
												</div>
                                                	<div class="modal-footer">
														<button id="toastr-success-top-right" type="button" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
                                                    	<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                                                	</div>
                                            </div>
                                        </div>
                                	</div>
								</div>
									<!-- /tab-content -->	
									<div class="tab-content" id="myTabContent-2">
										<div class="tab-pane fade show active" id="withoutSpace" role="tabpanel" aria-labelledby="home-tab-2">
											 <div class="card-body pt-0">
												<div class="table-responsive">
													<table id="example3" class="display table" style="min-width: 845px">
														<thead>
															<tr>
																<th>Nombre</th>
																<th>Genero</th>
																<th>Fecha de nacimiento</th>
																<th>Especie</th>
																<th>Acciones</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>Max</td>
																<td>Macho</td>
																<td>4 Abril 2022</td>
																<td>Perro</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>												
																</td>												
															</tr>
															<tr>
																<td>Luna</td><td>Hembra</td><td>27 Julio 2021</td><td>Perro</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Buddy</td><td>Macho</td><td>12 Marzo 2023</td><td>Gato</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Maggie</td><td>Hembra</td><td>8 Septiembre 2022</td><td>Pez</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Rocky</td><td>Macho</td><td>22 Mayo 2021</td><td>Perro</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Sasha</td><td>Hembra</td><td>16 Diciembre 2022</td><td>Perro</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Coco</td><td>Hembra</td><td>3 Noviembre 2021</td><td>Conejo</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Charlie</td><td>Macho</td><td>9 Agosto 2022</td><td>Conejo</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Roxy</td><td>Hembra</td><td>17 Febrero 2021</td><td>Gato</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Rufus</td><td>Macho</td><td>29 Julio 2023</td><td>Gato</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Missy</td><td>Hembra</td><td>11 Enero 2022</td><td>Pájaro</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>


															<tr>
																<td>Bailey</td><td>Macho</td><td>7 Junio 2021</td><td>Pájaro</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Lucy</td><td>Hembra</td><td>19 Diciembre 2022</td><td>Conejo</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Rusty</td><td>Macho</td><td>2 Marzo 2023</td><td>Perro</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Mia</td><td>Hembra</td><td>14 Octubre 2021</td><td>Perro</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Cooper</td><td>Macho</td><td>18 Mayo 2022</td><td>Perro</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Bella</td><td>Hembra</td><td>30 Agosto 2023</td><td>Perro</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Oliver</td><td>Macho</td><td>24 Enero 2021</td><td>Gato</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Sadie</td><td>Hembra</td><td>6 Noviembre 2022</td><td>Perro</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
															<tr>
																<td>Zeus</td><td>Macho</td><td>13 Febrero 2023</td><td>Pez</td>
																<td>
																	<div class="d-flex">
																		<a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																		<a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
																	</div>                                                
																</td>                                                
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="tab-pane fade " id="withoutSpace-html" role="tabpanel" aria-labelledby="home-tab-2">
											<div class="card-body pt-0 p-0 code-area">	
	<pre class="mb-0"><code class="language-html">&lt;div class="table-responsive"&gt;
&lt;table id="example3" class="display table" style="min-width: 845px"&gt;
&lt;thead&gt;
	&lt;tr&gt;
		&lt;th&gt;&lt;/th&gt;
		&lt;th&gt;Name&lt;/th&gt;
		&lt;th&gt;Department&lt;/th&gt;
		&lt;th&gt;Gender&lt;/th&gt;
		&lt;th&gt;Education&lt;/th&gt;
		&lt;th&gt;Mobile&lt;/th&gt;
		&lt;th&gt;Email&lt;/th&gt;
		&lt;th&gt;Joining Date&lt;/th&gt;
		&lt;th&gt;Action&lt;/th&gt;
	&lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic1.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Tiger Nixon&lt;/td&gt;
		&lt;td&gt;Architect&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;M.COM., P.H.D.&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2011/04/25&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;												
		&lt;/td&gt;												
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic2.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Garrett Winters&lt;/td&gt;
		&lt;td&gt;Accountant&lt;/td&gt;
		&lt;td&gt;Female&lt;/td&gt;
		&lt;td&gt;M.COM., P.H.D.&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2011/07/25&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic3.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Ashton Cox&lt;/td&gt;
		&lt;td&gt;Junior Technical&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.COM., M.COM.&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2009/01/12&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic4.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Cedric Kelly&lt;/td&gt;
		&lt;td&gt;Developer&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.COM., M.COM.&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2012/03/29&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic5.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Airi Satou&lt;/td&gt;
		&lt;td&gt;Accountant&lt;/td&gt;
		&lt;td&gt;Female&lt;/td&gt;
		&lt;td&gt;B.A, B.C.A&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2008/11/28&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic6.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Brielle Williamson&lt;/td&gt;
		&lt;td&gt;Specialist&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.COM., M.COM.&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2012/12/02&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic7.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Herrod Chandler&lt;/td&gt;
		&lt;td&gt;Sales Assistant&lt;/td&gt;
		&lt;td&gt;Female&lt;/td&gt;
		&lt;td&gt;B.A, B.C.A&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2012/08/06&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic8.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Rhona Davidson&lt;/td&gt;
		&lt;td&gt;Integration&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.TACH, M.TACH&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2010/10/14&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic9.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Colleen Hurst&lt;/td&gt;
		&lt;td&gt;Javascript Developer&lt;/td&gt;
		&lt;td&gt;Female&lt;/td&gt;
		&lt;td&gt;B.A, B.C.A&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2009/09/15&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic10.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Sonya Frost&lt;/td&gt;
		&lt;td&gt;Software Engineer&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.COM., M.COM.&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2008/12/13&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic1.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Jena Gaines&lt;/td&gt;
		&lt;td&gt;Office Manager&lt;/td&gt;
		&lt;td&gt;Female&lt;/td&gt;
		&lt;td&gt;B.TACH, M.TACH&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2008/12/19&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic2.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Quinn Flynn&lt;/td&gt;
		&lt;td&gt;Support Lead&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.TACH, M.TACH&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2013/03/03&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic3.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Charde Marshall&lt;/td&gt;
		&lt;td&gt;Regional Director&lt;/td&gt;
		&lt;td&gt;Female&lt;/td&gt;
		&lt;td&gt;B.A, B.C.A&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2008/10/16&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic4.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Haley Kennedy&lt;/td&gt;
		&lt;td&gt;Senior Marketing&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.COM., M.COM.&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2012/12/18&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic5.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Tatyana Fitzpatrick&lt;/td&gt;
		&lt;td&gt;Regional Director&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.TACH, M.TACH&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2010/03/17&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic6.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Michael Silva&lt;/td&gt;
		&lt;td&gt;Marketing Designer&lt;/td&gt;
		&lt;td&gt;Female&lt;/td&gt;
		&lt;td&gt;B.A, B.C.A&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2012/11/27&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic7.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Paul Byrd&lt;/td&gt;
		&lt;td&gt;Financial Officer&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.TACH, M.TACH&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2010/06/09&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic8.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Gloria Little&lt;/td&gt;
		&lt;td&gt;Systems Administrator&lt;/td&gt;
		&lt;td&gt;Female&lt;/td&gt;
		&lt;td&gt;B.A, B.C.A&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2009/04/10&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic9.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Bradley Greer&lt;/td&gt;
		&lt;td&gt;Software Engineer&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.COM., M.COM.&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2012/10/13&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic10.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Dai Rios&lt;/td&gt;
		&lt;td&gt;Personnel Lead&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.TACH, M.TACH&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2012/09/26&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic1.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Jenette Caldwell&lt;/td&gt;
		&lt;td&gt;Development Lead&lt;/td&gt;
		&lt;td&gt;Female&lt;/td&gt;
		&lt;td&gt;B.A, B.C.A&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2011/09/03&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic2.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Yuri Berry&lt;/td&gt;
		&lt;td&gt;Marketing Officer&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.TACH, M.TACH&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2009/06/25&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic3.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Caesar Vance&lt;/td&gt;
		&lt;td&gt;Pre-Sales Support&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.TACH, M.TACH&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2011/12/12&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic4.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Doris Wilder&lt;/td&gt;
		&lt;td&gt;Sales Assistant&lt;/td&gt;
		&lt;td&gt;Female&lt;/td&gt;
		&lt;td&gt;B.A, B.C.A&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2010/09/20&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic5.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Angelica Ramos&lt;/td&gt;
		&lt;td&gt;Executive Officer&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.COM., M.COM.&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2009/10/09&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic6.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Gavin Joyce&lt;/td&gt;
		&lt;td&gt;Developer&lt;/td&gt;
		&lt;td&gt;Female&lt;/td&gt;
		&lt;td&gt;B.TACH, M.TACH&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2010/12/22&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic7.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Jennifer Chang&lt;/td&gt;
		&lt;td&gt;Regional Director&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.A, B.C.A&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2010/11/14&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic8.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Brenden Wagner&lt;/td&gt;
		&lt;td&gt;Software Engineer&lt;/td&gt;
		&lt;td&gt;Female&lt;/td&gt;
		&lt;td&gt;B.TACH, M.TACH&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2011/06/07&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic9.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Fiona Green&lt;/td&gt;
		&lt;td&gt;Operating Officer&lt;/td&gt;
		&lt;td&gt;Male&lt;/td&gt;
		&lt;td&gt;B.A, B.C.A&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2010/03/11&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
	&lt;tr&gt;
		&lt;td&gt;&lt;img class="rounded-circle" width="35" src="images/profile/small/pic10.jpg" alt=""&gt;&lt;/td&gt;
		&lt;td&gt;Shou Itou&lt;/td&gt;
		&lt;td&gt;Regional Marketing&lt;/td&gt;
		&lt;td&gt;Female&lt;/td&gt;
		&lt;td&gt;B.COM., M.COM.&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;123 456 7890&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;&lt;a href="javascript:void(0);"&gt;&lt;strong&gt;info@example.com&lt;/strong&gt;&lt;/a&gt;&lt;/td&gt;
		&lt;td&gt;2011/08/14&lt;/td&gt;
		&lt;td&gt;
			&lt;div class="d-flex"&gt;
				&lt;a href="#" class="btn btn-primary shadow btn-xs sharp me-1"&gt;&lt;i class="fas fa-pencil-alt"&gt;&lt;/i&gt;&lt;/a&gt;
				&lt;a href="#" class="btn btn-danger shadow btn-xs sharp"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
			&lt;/div&gt;
		&lt;/td&gt;
	&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;/div&gt;</code></pre></div>
										</div>
									</div>
									<div class="modal fade" id="updateModal">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header blueColor">
                                                    <h5 class="modal-title">Actualizar mascota</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
													<div class="div-half-container">
														<div class="div-75 div-half-padding-right">
															<label>Nombre:</label><br>
															<input type="text" class="form-control input-default " placeholder="Digite su nombre">
															</div>
														<div class="div-25 div-half-padding-left">
															<label>Especie:</label>
															<select class="default-select form-control wide form-control-sm">
																<option>Perro</option>
																<option>Gato</option>
																<option>Conejo</option>
																<option>Pájaro</option>
																<option>Pez</option>
															</select>
														</div>
													</div>
													<div class="div-half-container">
														<div class="div-33 div-half-padding-right">
															<br>
															<label>Genero:</label>
															<select class="default-select form-control wide form-control-sm">
																<option>Macho</option>
																<option>Hembra</option>
															</select>
														</div>
														<div class="div-50 div-half-padding-both">
															<div class="card-body">
																<label>Fecha de nacimiento:</label>
																<input name="datepicker" class="datepicker-default form-control" id="datepicker">
															</div>
														</div>
														<div class="div-33 div-half-padding-left">
															<br>
															<div class="example">
																<label>Color:</label>
                                            					<input type="text" class="as_colorpicker form-control" value="#0b80e0">
                                        					</div>
														</div>
													</div>
														<div class="basic-form">
															<label>Comentarios:</label>
															<form>
																<div class="mb-3">
																	<textarea placeholder="Observaciones" class="form-txtarea form-control" rows="3" id="comment"></textarea>
																</div>
															</form>
														</div>
												</div>
                                                	<div class="modal-footer">
														<button type="button" class="btn btn-primary order-first" data-bs-dismiss="modal">Actualizar</button>
                                                    	<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                                                	</div>
                                            </div>
                                        </div>
                                	</div>
									<div class="modal fade" id="deleteModal">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header redColor">
                                                    <h5 class="modal-title">Eliminar mascota</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
													<label>¿Seguro que quieres eliminar la mascota _____ ?</label><br>
                                                </div>
                                                <div class="modal-footer">
													<button  type="button" class="btn btn-danger" data-bs-dismiss="modal">Borrar</button>
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                	</div>
									<!-- /tab-content -->		
							   
							</div>
						</div>
                    <!-- Column ends -->
				</div>
					</div>
				</div>
			</div>			
        </div>
        <!--**********************************
                Content body end
            ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
         <div class="footer out-footer">
            {{>piepagina}}
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
   <script src="./vendor/global/global.min.js"></script>
    <script src="./vendor/chart.js/Chart.bundle.min.js"></script>
	<!-- Apex Chart -->
	<script src="./vendor/apexchart/apexchart.js"></script>
	
    <!-- Datatable -->
    <script src="./vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="./js/plugins-init/datatables.init.js"></script>

	<script src="./vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <script src="./js/custom.js"></script>
	<script src="./js/deznav-init.js"></script>
	
   
	
	<!-- code-highlight -->
	<script src="./js/highlight.min.js"></script>
	<script>hljs.highlightAll();
		hljs.configure({ ignoreUnescapedHTML: true })
		
	</script>

	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
			document.querySelectorAll('pre code').forEach((el) => {
				hljs.highlightElement(el);
			});
			});
	</script>

    <!-- Toastr -->
    <script src="./vendor/toastr/js/toastr.min.js"></script>

    <!-- All init script -->
    <script src="./js/plugins-init/toastr-init.js"></script>
	<!-- Pickdate -->
    <script src="./js/plugins-init/pickadate-init.js"></script>

	<!-- Daterangepicker -->
    <!-- momment js is must -->
    <script src="./vendor/moment/moment.min.js"></script>
    <script src="./vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- clockpicker -->
    <script src="./vendor/clockpicker/js/bootstrap-clockpicker.min.js"></script>
    <!-- asColorPicker -->
    <script src="./vendor/jquery-asColor/jquery-asColor.min.js"></script>
    <script src="./vendor/jquery-asGradient/jquery-asGradient.min.js"></script>
    <script src="./vendor/jquery-asColorPicker/js/jquery-asColorPicker.min.js"></script>
    <!-- Material color picker -->
    <script src="./vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- pickdate -->
    <script src="./vendor/pickadate/picker.js"></script>
    <script src="./vendor/pickadate/picker.time.js"></script>
    <script src="./vendor/pickadate/picker.date.js"></script>

	<!-- Daterangepicker -->
    <script src="./js/plugins-init/bs-daterange-picker-init.js"></script>
    <!-- Clockpicker init -->
    <script src="./js/plugins-init/clock-picker-init.js"></script>
    <!-- asColorPicker init -->
    <script src="./js/plugins-init/jquery-asColorPicker.init.js"></script>
    <!-- Material color picker init -->
    <script src="./js/plugins-init/material-date-picker-init.js"></script>
    <!-- Pickdate -->
    <script src="./js/plugins-init/pickadate-init.js"></script>

</body>
</html>